#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app{
  position: fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
}


@supports (height: 100dvh) {
  .app{
    height: 100dvh;
  }
}